$red: red;
/*BASE COLOR SCHEME: https://coolors.co/ed254e-f9dc5c-f4fffd-011936-465362*/
$base-color: #f4fffd;
$primary-color: #f9dc5c;
$primary-color-2: #ed254e;
$secondary-color: #011936;
$secondary-color-2: #465362;
$white: #ffffff;