.book-store-ctn{
    width: 100%;

    .no-selected{
        color: rgba($secondary-color, 0.6);
        text-align: center;
        margin: 2em 0;
    }
}

.store-title {
    text-align: center;
    font-size: 3em;
    margin: 1em 0;
    color: $primary-color-2;
    
    .sub-title {
        font-size: small;
        color: $secondary-color;
    }
    
    span {
        color: $primary-color;
    }
}

